<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :required => true, :placeholder => 'Supplier name', :maxlength => 100 %>
  </div>
  <div class="field">
    <%= f.text_field :address, :required => true, :placeholder => 'Address', :maxlength => 100 %>
  </div>
  <div class="field">    
    <%= f.telephone_field :phone, :placeholder => 'Phone number', :maxlength => 15 %>
  </div>
  <div class="field">
    <%= f.url_field :website, :placeholder => 'Website', :maxlength => 100 %>
  </div>
  <div class="field">
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {}, {multiple:true} %>
   
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
