<% @suppliers.each do |supplier| %>
	<marker name="<%= supplier.name %>" address="<%= supplier.address %>" lat="<%= supplier.latitude %>" lng="<%= supplier.longitude %>"/>
<% end %>
<div id="map-canvas"></div>
<div id="you_are_here" data-name="Ridiculous Hat" data-address="Norrgatan 15, 352 31 Växjö" data-lat="56.87963" data-lng="14.80671"></div>


<table>


  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><strong><%= best_in_place supplier, :name %></strong></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
      	<td><%= best_in_place supplier, :address %></td>
      </tr>
      <tr>
      	<td><%= best_in_place supplier, :phone %></td>
      </tr>
      <tr>
      	<td><%= best_in_place supplier, :website %></td>
      </tr>
      <tr>
      	<td><%= best_in_place supplier, :tag_list %>
      	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
