<% content_for :body_id, "home_page" %>

<% @suppliers.each do |supplier| %>
	<marker name="<%= supplier.name %>" address="<%= supplier.address %>" lat="<%= supplier.latitude %>" lng="<%= supplier.longitude %>"/>
<% end %>
<div id="map_canvas"></div>
<div id="you_are_here" data-name="Ridiculous Hat" data-address="Norrgatan 15, 352 31 Växjö" data-lat="56.87963" data-lng="14.80671"></div>
<div id="nav"><%= image_tag"/img/logo.png", :alt => "logo", :id => "logo" %></div>
<div class="container">

  <div class="row">
    <% @suppliers.each do |supplier| %>
    	<div class= "supplier_card_wrap col-md-4 col-sm-6 col-xs-12" >
    		<ul class="supplier_card">
		      <li><strong><%= best_in_place supplier, :name, :activator => "#name" + supplier.id.to_s  %></strong>
		      	<%= edit_icon supplier.id, 'name'  %>
		      </li>
		      <li><%= best_in_place supplier, :address, :activator => "#address" + supplier.id.to_s  %>
		      	<%= edit_icon supplier.id, 'address'  %>
		      </li>
		      <li><%= best_in_place supplier, :phone, :activator => "#phone" + supplier.id.to_s  %>
		      	<%= edit_icon supplier.id, 'phone'  %>
		      </li>
		      <li><%= best_in_place supplier, :website, :activator => "#website" + supplier.id.to_s  %>
		      	<%= edit_icon supplier.id, 'website'  %>
		      </li>
		      <li class="tag_list"><%= best_in_place supplier, :tag_list, :activator => "#tag_list" + supplier.id.to_s  %>
		      	<%= edit_icon supplier.id, 'tag_list'  %>
		      </li>
		      <li><%= link_to image_tag("/img/icons/delete.png", 
				                    :alt => "delete",
				                    :class => "delete_icon" ),
				              supplier,
				              method: :delete,
				              data: { confirm: 'Are you sure you want to delete ' + supplier.name + '?' } %>
		      </li>
      		</ul>
    	</div>
    <% end %>
  </div>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
</div>
